.headDiv{
    border: 7px solid #032826;
    border-radius: 13px;
    background-color: #A8C1AB;
    text-align: left;
    color: #032826;
    
    width: 99%;
    display: flex;
    align-items: center;
}
body.pagePadding{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    background-color:#2F4B4A;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display:block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
    color: #032826;
    font-size: 25px;
}


.headerText{
    padding-left: 20px;
    font-size: 40px;
}
div.aboutMePadding{
    padding-right: 0.5%;
    padding-top: 20px;
    width: 100%;
}
div.spacing{
    padding-top: 40px;
}
a{
    color: #032826;
}
.aboutMe{
    border-collapse: collapse;
    border: 7px solid  #032826;
    border-radius: 13px;
    background-color: #CCD5AE;
    text-align: left;
    color: #032826;
}
p {
    color: #4e5241;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.iconsPadding{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.tableBorder{
    border-collapse: collapse;
}

.tableRow{
    border-top: 3px solid white;
    
}
.tableHeader{
    background-color: white;
    border: 5px solid  #032826;
}
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack image and text vertically */
        align-items: flex-start; /* Align items to the start (left) */
        gap: 10px; /* Adjust space between image and text */
    }

    .image {
        width: 100%; /* Image takes full width in smaller screens */
    }
    ul {
        justify-content: space-around; /* Adjust spacing on smaller screens */
    }
    ul li {
        margin: 0 3px; /* Further reduced margin on smaller screens */
    }
    ul li a {
        font-size: 0.8em; /* Adjust font size on smaller screens */
    }
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #A8C1AB;
    padding: 10px;
    border-radius: 13px;
    border:7px solid  #032826;
}

.grid-item{
    
    border: 1px solid rgba(255, 255, 255, 0);
    text-align:center;
    padding-bottom: 5px;
    align-self: center;
}
.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    padding: 10px;
}
@media (max-width: 1200px) {
    .grid-container-2 {
        grid-template-columns: repeat(5, 1fr); /* 5 columns for large screens */
    }
    .grid-container{
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
       
    }
}

@media (max-width: 900px) {
    .grid-container-2 {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
    
}

@media (max-width: 600px) {
    .grid-container-2 {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr); /* 2 columns for small screens */
       
    }
}

@media (max-width: 400px) {
    .grid-container-2 {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}
p{
    color: #032826;
    font-size: 22px;
}
.box{
    color:#032826; 
    border:7px solid#032826; 
    border-radius: 13px; 
    background-color: #A8C1AB;
}

.skills-box{
    display: grid;
    grid-template-columns: auto ;
    padding: 10px;
}

.popup .overlay{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height: 100vh;
    background:rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.popup .content{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    width:80%;
    background:white;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing: border-box;
}

.popup .close-btn{
    position:absolute;
    right: 30px;
    top:20px;
    width:40px;
    height:40px;
    background: #222;
    color:white;
    font-size:35px;
    font-weight:600;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transform: translate(-50%, -50%) scale(1);
}

.popup-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    
}



.dropdown-button{
    background-color: #A8C1AB;
    color: #032826;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}
.dropdown-button:hover{
    background-color: rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 6px solid #032826;
    border-right: 4px solid #032826;
    border-left: 4px solid #032826;
    border-bottom: 4px solid #032826;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 22px;
}

.dropdown-content a:hover {background-color: #e1e6e3}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

