.headDiv{
    border: 7px solid white;
    border-radius: 13px;
    background-color: #CCD5AE;
    text-align: left;
    color: #595e4a;
    position: -webkit-sticky;
    width: 100%;
    display: flex;
    align-items: center;
}
body.pagePadding{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display:block;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px;
    color: #595e4a;
    font-size: 30px;
}


.headerText{
    padding-left: 20px;
    font-size: 40px;
}
p.aboutMeBlurb{

    padding: 20px;
    font-size: 30px;
    background-color: white;
    border: 7px solid #CCD5AE;
    border-radius: 13px;
}
div.aboutMePadding{
    padding-right: 0.5%;
    padding-top: 40px;
}
div.spacing{
    padding-top: 30px;
}
a{
    color:#595e4a;
}
.socials{
    border: 7px solid white;
    border-radius: 13px;
    background-color: #CCD5AE;
    text-align: left;
    color: #4e5241;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
}
p {
    color: #4e5241;
}
.container {
    display: flex;
    align-items: center;
    
}
.iconsPadding{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.line-1{
    height: 3px;
    background: pink;
}
table{
    border-collapse: collapse;
}

.tableRow{
    border-top: 3px solid white;
    
}